<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
    <a href="/spring_mvc_war/car/start?count=1">Get 1 car</a>
    <br>
    <a href="/spring_mvc_war/car/start?count=2">Get 2 car</a>
    <br>
    <a href="/spring_mvc_war/car/start?count=3">Get 3 car</a>
    <br>
    <a href="/spring_mvc_war/car/start?count=4">Get 4 car</a>
    <br>
    <a href="/spring_mvc_war/car/start?count=5">Get 5 car</a>
    <br>
    <a href="/spring_mvc_war/car/start?count=6">Get 6 car</a>
</div>
</body>
</html>